{% extends "admin_pages/base.html" %}
{% load static %}

{% block content %}



    


    <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Add Shade Card</h4>
                <!-- <p class="card-description">
                  Basic form layout
                </p> -->
                <form class="forms-sample" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                  
                  <div class="form-group">
                    <label for="productName">Shade Card Name</label>
                    <input type="text" class="form-control" id="productName" name="card_name" placeholder="Optional">
                  </div>

                  <div class="form-group">
                    <label for="imageFile">Product Image</label>
                    <input type="file" class="form-control" id="imageFile" name="card_image" placeholder="Upload Image">
                  </div>
                  
                  <div class="form-group">
                    <label for="productName">Description</label>
                    <input type="text" class="form-control" id="productDes" name="description" placeholder="Optional">
                  </div>

                  <div class="form-check form-check-flat form-check-primary">
                    <label class="form-check-label">
                      
                    </label>
                  </div>
                  <button type="submit" class="btn btn-primary me-2">Submit</button>
                  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    
{% endblock %}


 